.Footer {
    width: 100%;
    height: 300px;
    background-color: $color-dark-background;
    color: $color-dark-text;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3em;

    & .up-button {
        position: fixed;
        right: 3em;
        bottom: 3em;
        width: 40px;
        height: 40px;
        background-color: $color-primary;
        color: $color-dark-text;
        border: 0;
        border-radius: 5px;
        cursor: pointer;
    }

    & ul {
        margin: 0;
    }
    
    & .menus {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        & a {
            color: $color-dark-text;
        }
    }

    & .version {
        display: flex;
        justify-content: flex-end;
        padding: 0em 4em;
    }
}